.trans-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
  position: relative;
  padding: 0 15px 15px 15px;
}

.messageBox-wrap {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.msg-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.msg-sender {
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  font-family: 'Rubik';
}

.msg-message {
  padding-top: 10px;
  font-family: 'Rubik';
}

.msg-time {
  color: gray;
  padding-top: 10px;
  font-size: 10px;
}

.msg-anim-enter {
  opacity: 0.01;
  transform: translate3d(0, 10px, 0);
}

.msg-anim-enter.msg-anim-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 250ms cubic-bezier(.62, .31, .59, .86);
}

.msg-anim-leave {
  opacity: 1;
}

.example-leave.msg-anim-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@media only screen and (max-width: 500px) {
  .app-wrap {
    height: 100%;
    width: 100%;
  }
  .msg-wrapper {
    padding: 1.5vh;
  }
  .msg-sender {
    font-weight: bold;
    border-bottom: 1px solid gray;
    padding-bottom: 1vh;
    font-family: 'Rubik';
    font-size: 2vh;
  }
  .msg-message {
    padding-top: 1vh;
    font-family: 'Rubik';
    font-size: 2.5vh;
  }
  .msg-time {
    color: gray;
    padding-top: 1vh;
    font-size: 10px;
    font-size: 1.5vh;
  }
}
