.conncted-wrap {
  animation: blip 1200ms ease-out forwards;
}

.conncted-wrap2 {
  animation: blip2 1200ms ease-out forwards;
}

@keyframes blip2 {
  50% {
    opacity: 1;
    transform: translate3d(-15px, 0, 0);
  }
}

@keyframes blip {
  50% {
    opacity: 1;
    transform: translate3d(-15px, 0, 0);
  }
}
